# We _want_ tests/, src/, scripts/, and benchmark/ to be formatted, but...

# Ignore upstream files synced from Node.js repository
src/upstream/

# Build outputs
dist/
build/
prebuilds/

# Dependencies
node_modules/
vendored/
